@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Montserrat:wght@500&display=swap');

body {
    background-color: rgb(216, 168, 176);
    text-align: center;
  }
  
  img {
    margin: auto;
    padding: 30px;
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(129, 5, 104);
    font-size: 50px;
  }
  
  h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    color: purple;
  }
  
  .coracao {
    width: 400px;
    height: 400px;
    animation: FadeInFadeOut 1s linear infinite;
  }
  
  .coracao:hover {
    animation-play-state: paused;
  }
  
  @keyframes FadeInFadeOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  
  p {
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgb(153, 4, 79);
  }
  
