body {
    background-color: rgb(216, 168, 176);
    text-align: center;
  }
  
  img {
    margin: auto;
    padding: 30px;
  }
  
  h1 {
    color: rgb(129, 5, 104);
    font-size: 50px;
  }
  
  h2 {
    color: purple;
  }
  
  .coracao {
    width: 400px;
    height: 400px;
    animation: FadeInFadeOut 1s linear infinite;
  }
  
  .coracao:hover {
    animation-play-state: paused;
  }
  
  @keyframes FadeInFadeOut {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  
  p {
    color: rgb(255, 0, 128);
  }
  